[submodule "cpp-utils"]
	path = cpp-utils
	url = https://github.com/rsargent/cpp-utils.git
[submodule "pitt10x1"]
	path = pitt10x1
	url = ssh://git@create.repositoryhosting.com/create/pitt10x1.git
[submodule "ct"]
	path = ct
	url = ssh://git@create.repositoryhosting.com/create/ct.git
