[submodule "patp10"]
	path = patp10
	url = ssh://git@create.repositoryhosting.com/create/patp10.git
[submodule "cpp-utils"]
	path = cpp-utils
	url = git@github.com:rsargent/cpp-utils.git
[submodule "pitt10x1"]
	path = pitt10x1
	url = ssh://git@create.repositoryhosting.com/create/pitt10x1.git
