.ui-selectmenu {
  font-size: .8em !important;
  height: 22px;
  border-radius: 3px !important;
}

.ui-state-default {
  cursor: pointer;
}

.ui-icon-triangle-1-n {
  margin-left: -.07em !important;
}

.ui-button {
  border-radius: 3px !important;
}

.ui-spinner-buttons {
  top: 0px !important;
}

#video_size_width, #video_size_height {
  width: 30px !important;
}

.ui-selectmenu-status {
  line-height: 1.1em !important;
}

.ui-icon-alert {
  float: left; 
  margin: 0px 7px 80px 0px;
}

#tabs-2 {
  height:100%; 
  padding-left: 10px;
}

#tabs-2 h2 {
  padding-bottom: 10px;
}

#fps_explanation {
  margin: 0px 0px 0px 189px; 
  width: 16px;
  border-radius: 3px !important;
}

#fps {
  margin: 0px 0px 0px 5px; 
  float: left;
}

#video_size {
  width: 80px;
}

#video_size_settings .ui-selectmenu {
  margin: -3px 0px 0px 5px; 
}

#video_size_explanation {
  margin: -24px 0px 0px 171px; 
  width: 16px;
  border-radius: 3px !important;
}

#video_size_custom {
  margin: 20px -55px 0px 20px; 
  display: none;
}

#num_jobs {
  margin: -5px 0px 0px 5px;
}

#jobs_explanation {
  margin: -20px 0px 0px 139px; 
  width: 16px;
  border-radius: 3px !important;
}

#compilation_estimate_msg {
  max-width:352px;
  font-size: 10px;
}

#compression {
  background: LightGray; 
  font-size: 10px; 
  width: 200px;
}

#compression_wrapper {
  width: 208px; 
  margin: 0px 0px 0px 109px;
}

#compression_explanation {
  margin: -49px 0px 0px 323px; 
  width: 16px;
  border-radius: 3px !important;
}

#codec_settings {
  margin-bottom: 40px;
}

.setting_section {
  margin-bottom: 30px;
}

.setting_title {
  float: left;
}

html {
  font-size: .8em;
  min-width: 640px;
  min-height: 480px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  overflow:hidden;
  height:100%;
}

body {
  height: 100%;
  margin: 0px;
}

#world {
  width: 100%;
  opacity:0;
}

#threshold, .offset {
  width: 35px !important;
  margin-right: 0px !important; 
  padding: 10px 12px 0px 5px !important;
}

#tabs {
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0px !important;
  -khtml-border-radius: 0px !important;
  border-radius: 0px !important;
}

#tabs-1 { padding-top: 28px; }

.ui-tabs-nav {
  background: #F0F0F0;
  border-radius: 0;
  border-bottom: 1px solid #AAA !important;
  border: 0px;
  margin: -5px !important;
}

.ui-tabs-nav > li {
  background: #f9f9f9 !important;
  border-radius: 0 !important;
}

.ui-tabs-nav > li.ui-state-active {
  background: white !important;
}

.ui-tabs .ui-tabs-nav li {
  margin: 0 0em 1px 0 !important;
}

a:hover{ text-decoration:none; }
a { outline: none; }
a.heading:hover{ text-decoration:underline !important; }

#file_hover {
  position: absolute;
  border-style:solid;
  border-width:1px;
  border-color: #666d68;
  width:252px;
  word-wrap:break-word;
  background: #fff;
  padding:5px;
  font-size:11px;
  cursor: default;
  -webkit-box-shadow: 0 0 8px 2px #999;
}

#btnToggle {
  color: inherit;
  text-align:center;
  outline:none;
  font-size:.8em;
  width:80px;
  height:75px;
  position: absolute; 
  top: 60px; 
  left: 220px; 
  line-height: 15px;
  border-radius: 2px;
}

#tmFormat {
  font-size:.8em;
  text-align:center;
  width:70px;
  height:30px;
}

#rotate {
  font-size:.70em;
  text-align:left;
  width:105px;
  height:25px;
  padding: 0px !important;
}

#selection_area {
  position: absolute;
  border-style:dotted;
  border-width:2px;
  border-color: #666d68;
  z-index: 400;
  background: #eeeeee;
  opacity: 0.6; 
}

#render_export {
  border-left-width:1px;
  border-left-style:solid;
  border-left-color:#aaa;
  width: 100%; 
  height: 100%; 
  padding-left: 10px;
}

#render_export_btn {
  margin-top: -2px;
}

#cancel_render_btn {
  margin-top: 10px
}

#pause_render_btn {
  margin-top: 10px
}

#current_progress {
  position: absolute;
  margin-top: 2px;
}

#canvasdiv {
  position: absolute;
}

#canvas_times {
  display: none; 
  position: absolute; 
  z-index: 1; 
  background: #e4e4e4; 
  border-right: 1px solid #aaa; 
  margin-left: -1px; 
  padding-left: 4px;
}

#scroll {
  background:#eee; 
  overflow:auto;
  border-top-width:1px;
  border-top-style:solid;
  border-top-color:#aaa;
  border-right-width:1px;
  border-right-style:solid;
  border-right-color:#aaa;  
}

#controls {
  width: 200px; 
  position: absolute; 
  border-right-width:1px;
  border-right-style:solid;
  border-right-color:#aaa;
  border-left-width:1px;
  border-left-style:solid;
  border-left-color:#aaa;
  margin-left: -3px;
  margin-top: 2px;
  z-index: 100; 
  background: #fff;
}

#controls_txt {
  margin-left: 10px;
}

#controls_inner_txt {
  padding-left: 10px; 
  font-size: 12px;
}

#numFrames {
  position: absolute;
  margin-left: 10px; 
  bottom: 10px;
}

#content {
  margin-left: 199px; 
  height: 100%;
}

#dropboxes {
  width: 100%; 
  padding: 0px 28px 16px 120px; 
  text-align: center;
  font-weight: bold;
}

#filmstripControls {
  position: absolute; 
  display: none; 
  width: 250px;
  z-index: 100 !important; 
  margin-left: 38px; 
  margin-top: 18px;
}

#filmstripText {
  font-size: 12px;
}

#btnPrevImage {
  float: left;
}

#btnNextImage {
  position: absolute; 
  margin: -20px 0px 0px 190px;
}

#filstripTextContainer {
  width: 65%; 
  margin:0px auto;
}

#jumpToFrame {
  padding: .4em .6em; 
  width:27px !important; 
  margin-top: -5px;
}

.ui-tabs .ui-tabs-panel {
  padding: 0em 0em;
}

.dropbox {
  border:3px dashed #a3a3a3;
  background: #f5f5f5;
  padding: 10px; 
  min-width: 192px;
}

.dropbox_msg {
  font-size: 10px;
}

#formats tr > td {
  padding-bottom: 1em;
}

.chzn-container-active .chzn-single {
  border: 1px solid #676767 ;
}

.chzn-container-active .chzn-choices {
  border: 1px solid #676767;
}

.chzn-choices .ui-button {
  min-width: 192px;
}

.ui-tabs .ui-tabs-nav li {
  top: 2px !important;
}
