*.lib
*.dll
libjpeg-turbo/**/*.manifest
libjpeg-turbo/CMakeCache.txt
libjpeg-turbo/**/CMakeFiles
libjpeg-turbo/**/*.cmake
libjpeg-turbo/**/*.exp
libjpeg-turbo/jconfig.h
libjpeg-turbo/jconfigint.h
libjpeg-turbo/**/*.nsi
libpng/pnglibconf.h
zlib/zdll.exp
zlib/zlib1.res
zlib/Makefile
*.lo
*.dylib
*.la
*.a
.deps
.libs
Makefile
bin
lib
libpng/config.h
libpng/config.log
libpng/config.status
libpng/include
libpng/libpng-config
libpng/libpng.pc
libpng/libpng.sym
libpng/libpng15-config
libpng/libpng15.pc
libpng/libtool
libpng/pnglibconf.dfn
libpng/pnglibconf.out
libpng/scripts/sym.out
libpng/share
libpng/stamp-h1
zlib/configure.log
zlib/example
zlib/examplesh
zlib/minigzip
zlib/minigzipsh
zlib/zlib.pc
zlib/zconf.h
libpng/libpng.vers
libpng/scripts/vers.out
zlib/example64
zlib/libz.so
zlib/libz.so.*
zlib/minigzip64
