*.lib
*.dll
jpeg-8d/apps.sln
jpeg-8d/cjpeg.vcxproj
jpeg-8d/cjpeg.vcxproj.filters
jpeg-8d/djpeg.vcxproj
jpeg-8d/djpeg.vcxproj.filters
jpeg-8d/jconfig.h
jpeg-8d/jpeg.sln
jpeg-8d/jpeg.vcxproj
jpeg-8d/jpeg.vcxproj.filters
jpeg-8d/jpegtran.vcxproj
jpeg-8d/jpegtran.vcxproj.filters
jpeg-8d/rdjpgcom.vcxproj
jpeg-8d/rdjpgcom.vcxproj.filters
jpeg-8d/wrjpgcom.vcxproj
jpeg-8d/wrjpgcom.vcxproj.filters
jpegsrc.v8d.tar.gz
libpng/pnglibconf.h
zlib/zdll.exp
zlib/zlib1.res
*.lo
*.dylib
*.la
*.a
.deps
.libs
Makefile
bin
lib
jpeg-8d/cjpeg
jpeg-8d/config.log
jpeg-8d/config.status
jpeg-8d/djpeg
jpeg-8d/include/
jpeg-8d/jpegtran
jpeg-8d/libtool
jpeg-8d/rdjpgcom
jpeg-8d/share/
jpeg-8d/stamp-h1
jpeg-8d/wrjpgcom
libpng/config.h
libpng/config.log
libpng/config.status
libpng/include/
libpng/libpng-config
libpng/libpng.pc
libpng/libpng.sym
libpng/libpng15-config
libpng/libpng15.pc
libpng/libtool
libpng/pnglibconf.dfn
libpng/pnglibconf.out
libpng/scripts/sym.out
libpng/share/
libpng/stamp-h1
zlib/configure.log
zlib/example
zlib/examplesh
zlib/minigzip
zlib/minigzipsh
zlib/zlib.pc
