*.lib
*.dll
jpeg-8d/apps.sln
jpeg-8d/cjpeg.vcxproj
jpeg-8d/cjpeg.vcxproj.filters
jpeg-8d/djpeg.vcxproj
jpeg-8d/djpeg.vcxproj.filters
jpeg-8d/jconfig.h
jpeg-8d/jpeg.sln
jpeg-8d/jpeg.vcxproj
jpeg-8d/jpeg.vcxproj.filters
jpeg-8d/jpegtran.vcxproj
jpeg-8d/jpegtran.vcxproj.filters
jpeg-8d/rdjpgcom.vcxproj
jpeg-8d/rdjpgcom.vcxproj.filters
jpeg-8d/wrjpgcom.vcxproj
jpeg-8d/wrjpgcom.vcxproj.filters
jpegsrc.v8d.tar.gz
libpng/pnglibconf.h
zlib/zdll.exp
zlib/zlib1.res
